* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.menu-bg {
  background-color: #ffffff;
}

.menu {
  max-width: 1111px;
  max-height: 32px;
  margin: 64px auto 54px auto;
  display: flex;
  justify-content: space-between;
}

.menu nav ul {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.1px;
  color: #33323d;
  display: flex;
  gap: 42px;
  letter-spacing: 2px;
}

.menu nav a:hover {
  color: #5fb4a2;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  color: #33323d;
}

/* Main */
.entre-em-contato {
  max-width: 1110px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}

.contato-titulo h2 {
  margin-right: 125px;
  width: 350px;
  height: 42px;
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  color: #33323d;
}

.descricao {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.descricao-info p {
  width: 635px;
  height: 180px;

  font-family: "Public Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
}

.descricao-social {
  margin-top: 54px;
  display: flex;
  gap: 16px;
}

.descricao-social img {
  width: 24px;
  height: auto;
}

.contato {
  margin: 47px auto 109px auto;
  max-width: 1110px;
  max-height: 426px;
  display: flex;
  justify-content: space-between;
}

.contato .contato-titulo {
  font-family: 'Ibarra Real Nova';
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  color: #33323d;
}

.contato .contato-titulo h2 {
  width: 200px;
  margin-right: 125px;
}

.contato-formulario {
  width: 635px;
  height: 426px;
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: #33323d;
}

.form-group label {
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  padding: 12px;
  border: 1px solid #eaeaeb;
  background-color: #eaeaeb;
  width: 635px;
  height: 48px;

}

.form-group textarea {
  resize: none;
  height: 96px;
}

button[type="submit"] {
  width: 200px;
  height: 48px;
  background-color: #203A4C;
  color: #ffffff;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 14.1px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #5FB4A2;
}

/* footer */
.footer-bg {
  background-color: #33323d;
}

.footer {
  max-width: 1111px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.footer-logo .footer-nav {
  display: flex;
  align-items: center;
}

.footer-logo {
  max-width: 100%;
}

.footer-logo img {
  display: block;
  margin-right: 48px;
}

.footer .footer-nav ul {
  display: flex;
  gap: 42px;
}

.footer .footer-nav ul li {
  list-style: none;
}

.footer .footer-nav ul li a {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  line-height: 14.1px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer .footer-nav ul li a:hover {
  color: #5fb4a2;
}

.footer .social {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.footer .social img {
  width: 24px;
  height: auto;
}
