* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-bg {
  background-color: #ffffff;
}

.menu {
  max-width: 1111px;
  max-height: 32px;
  margin: 64px auto 94px auto;
  display: flex;
  justify-content: space-between;
}

.menu nav ul {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.1px;
  color: #33323d;
  display: flex;
  gap: 42px;
  letter-spacing: 2px;
}

.menu nav a:hover {
  color: #5fb4a2;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  color: #33323d;
}

/* manage section */
.manage-section .manage-preview {
  max-width: 1015px;
  max-height: 500px;
  margin: 0 auto 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manage-section .manage-preview img {
  width: 540px;
  height: 500px;
}

.manage-preview .manage-text {
  width: 350px;
  height: 500px;
  margin-left: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}

.manage-text h2 {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  color: #33323d;
}

.manage-text p {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
  width: 350px;
  height: 120px;
  margin: 28px auto 54px auto;
}

.manage-text a {
  padding: 17px 30px;
  border: 1px solid #33323d;
  background-color: transparent;
  color: #33323d;
  font-size: 12px;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 14.1px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 46px auto 0 0;
  transition: background-color 0.3s ease;
}

.manage-text a:hover {
  background-color: #33323d;
  color: #ffffff;
}

/* Bookmark Section */
.bookmark-section {
  max-width: 1015px;
  max-height: 500px;
  margin: 0 auto 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-preview img {
  width: 540px;
  height: 500px;
}

.bookmark-text {
  width: 350px;
  height: 500px;
  margin-right: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}

.bookmark-text h2 {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  color: #33323d;
}

.bookmark-text p {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
  width: 350px;
  height: 120px;
  margin: 28px 0 54px 0;
}

.bookmark-text a {
  padding: 17px 30px;
  border: 1px solid #33323d;
  background-color: transparent;
  color: #33323d;
  font-size: 12px;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 14.1px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 46px auto 0 0;
  transition: background-color 0.3s ease;
}

.bookmark-text a:hover {
  background-color: #33323d;
  color: #ffffff;
}

/* footer */

.footer-bg {
  background-color: #33323d;
}

.footer {
  max-width: 1111px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.footer-logo .footer-nav {
  display: flex;
  align-items: center;
}

.footer-logo {
  max-width: 100%;
}

.footer-logo img {
  display: block;
  margin-right: 48px;
}

.footer .footer-nav ul {
  display: flex;
  gap: 42px;
}

.footer .footer-nav ul li {
  list-style: none;
}

.footer .footer-nav ul li a {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  line-height: 14.1px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer .footer-nav ul li a:hover {
  color: #5fb4a2;
}

.footer .social {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.footer .social img {
  width: 24px;
  height: auto;
}
