* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.menu-bg {
  background-color: #ffffff;
}

.menu {
  max-width: 1111px;
  max-height: 32px;
  margin: 64px auto 54px auto;
  display: flex;
  justify-content: space-between;
}

.menu nav ul {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.1px;
  color: #33323d;
  display: flex;
  gap: 42px;
  letter-spacing: 2px;
}

.menu nav a:hover {
  color: #5fb4a2;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  color: #33323d;
}

/* main */
.hero {
  max-width: 1110px;
  min-height: 500px;
  margin: 0 auto 190px auto;
  background-image: url("../../assets/portfolio/manage/image-manage-hero.jpg");
  background-size: cover;
  position: relative;
}

/* Descrição */
.descricao {
  max-width: 1110px;
  max-height: 1192px;
  margin: 0 auto 64px auto;
  display: flex;
  justify-content: space-between;
}

/* Descrição Lateral */
.descricao .descricao-aside {
  max-width: 350px;
  max-height: 498px;
  width: 350px;
  height: 500px;
  margin-right: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}

.descricao-aside h2 {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  color: #33323d;
}

.descricao-aside p.manage-text  {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323d;
  width: 350px;
  height: 120px;
  margin: 28px auto 54px auto;
}

.descricao-aside p.tech {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #5FB4A2;
  width: 350px;
  height: 30px;
  margin: 0 auto 16px auto;
}

.descricao-aside a {
  max-width: 178px;
  max-height: 48px;
  padding: 16px 60px;
  border: 1px solid #33323d;
  background-color: transparent;
  color: #33323d;
  font-size: 12px;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 14.1px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 46px auto 0 0;
  transition: background-color 0.3s ease;
}

.descricao-aside a:hover {
  background-color: #33323d;
  color: #ffffff;
}

/* Descrição Projeto */
.descricao-projeto {
  width: 635px;
  height: 1192px;
  display: flex;
  flex-direction: column;
}

.descricao-projeto .projeto {
  width: 635px;
  height: 250px;
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
}


.projeto h3 {
  font-family: "Ibarra Real Nova";
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.29px;
  color: #33323d;
  margin: 0 0 28px 0;
}

.projeto p {
  width: 635px;
  height: 180px;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #33323d;
}

.projeto p a {
  color: inherit;
  text-decoration: underline;
}

/* Previews */

.previews {
  width: 635px;
  height: 902px;
  display: flex;
  flex-direction: column;
}

.previews h2 {
  font-family: "Ibarra Real Nova";
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.29px;
  color: #33323d;
  margin: 0 0 28px 0;
}

.previews img {
  width: 635px;
  height: 400px;
  margin: 0 0 32px 0 
}

/* links */

section.link-section {
  max-width: 1110px;
  max-height: 132px;
  margin: 0 auto 115px auto;
}

.links {
  max-width: 1110px;
  max-height: 132px;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid #eaeaeb;
  border-bottom: 1px solid #eaeaeb;
}

.fylo {
  max-width: 162px;
  max-height: 66px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.fylo img {
  width: 8px;
  height: 16px;
  margin: 25px 32px 25px 0px;
}

.fylo h3 {
  font-family: "Ibarra Real Nova";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
  color: #33323d;
}

.fylo p {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #c5c5c5;
  width: 118px;
  height: 30px;
}

.bookmark {
  max-width: 162px;
  max-height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bookmark img {
  width: 8px;
  height: 16px;
  margin: 0px 32px 25px 25px;
}

.bookmark h3 {
  font-family: "Ibarra Real Nova";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
  color: #33323d;
}

.bookmark p {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #c5c5c5;
  width: 118px;
  height: 30px;
  margin-left: 20px;
}

/* contato */
.contato-menu {
  max-width: 1110px;
  margin: 0 auto 150px auto;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato-texto h2 {
  font-family: "Ibarra Real Nova";
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.34px;
  color: #33323d;
  width: 367px;
  height: 84px;
}

.botao-contato {
  width: 168px;
  height: 48px;
  padding: 17px 30px;
  border: 1px solid #33323d;
  background-color: transparent;
  color: #33323d;
  font-size: 12px;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 14.1px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.botao-contato a {
  text-decoration: none;
  color: inherit;
}

.botao-contato:hover {
  background-color: #33323d;
  color: #ffffff;
}



/* footer */

.footer-bg {
  background-color: #33323d;
}

.footer {
  max-width: 1111px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.footer-logo .footer-nav {
  display: flex;
  align-items: center;
}

.footer-logo {
  max-width: 100%;
}

.footer-logo img {
  display: block;
  margin-right: 48px;
}

.footer .footer-nav ul {
  display: flex;
  gap: 42px;
}

.footer .footer-nav ul li {
  list-style: none;
}

.footer .footer-nav ul li a {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  line-height: 14.1px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer .footer-nav ul li a:hover {
  color: #5fb4a2;
}

.footer .social {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.footer .social img {
  width: 24px;
  height: auto;
}